header {
  padding: 2em 5em;
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #808080ff;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.8dvw;
  font-weight: 700;
  text-transform: uppercase;
}

header a figure {
  width: 200px;
}
